{% extends "header.html" %}

{% block body %}
<div class="container" style="background-color: white">
<h2> You are logged in!</h2>
<br>
<br>
	<div role="tabpanel">

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#Flask" aria-controls="Flask" role="tab" data-toggle="tab">Flask</a></li>
		<li role="presentation"><a href="#starting" aria-controls="starting" role="tab" data-toggle="tab">Getting Started</a></li>
		<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content"style="margin: 15px 0px;">
		  <div role="tabpanel" class="tab-pane fade in active" id="Flask">
			<ul>
				{% for topic in TOPIC_DICT["Flask"] %}
					<li><a href="{{topic[1]}}">{{topic[0]}}</a></li>
				{% endfor %}
			</ul>
		  </div>
		  
		  <div role="tabpanel" class="tab-pane fade" id="starting">
		  
		  </div>
		  
		  <div role="tabpanel" class="tab-pane fade" id="messages">
		  </div>
		  
	  </div>
	</div>
</div>


{% endblock %}